@font-face {
    font-family: "Open Sans";
    src: url('https://fonts.googleapis.com/css?family=Poppins:400&display=swap');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Open Sans";
    src: url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');
    font-style: normal;
    font-weight: 700;
}